.container{
  background-color: #4d346f;
  margin-top: 200px;
}

.quantity{
  border-radius: 100%;
  position: absolute;  
  font-size: 13px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  overflow: hidden;
  background-color: green;
}

.col-sm{
  background-color: chocolate;
  border: solid #fff;
  text-align: center;
}

.product-content {  
  width: 150px;
  height: 150px;  
  border: solid 3px grey;  
  cursor: grab; 
  object-fit: contain; 
}

.product-content img{    
  width: 100%;  
  height: 100%;
}

.shopping-cart {
  position: fixed;
  right: 0;
  bottom: 0px;  
  height: 160px;
  width: 160px;
  margin: 10px;
  border: dashed 3px salmon;
  background: white;
}
