.container{
  
  background: url("../img/shelf.png");
  background-repeat: no-repeat;
  background-size: 900px 620px;
  width: 900px;
  height: 600px;
  padding: 20px;
  margin: 200px 25%; 
  display: grid;  
  grid-template-columns: repeat(4,1fr);
  row-gap: 0px; 
  justify-items:center;
  align-items: center;
  z-index: -1;
}


.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.quantity{
  border-radius: 100%;
  position: absolute;  
  font-size: 13px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  overflow: hidden;
  background-color: green;
}

.product-content {  
  width: 180px;
  height: 150px;    
  cursor: grab;   
}

.image{      
    width:100%;
    height:100%;
    object-fit: contain;
    overflow: hidden;
}

.shopping-cart {
  position: fixed;
  right: 0;  
  top:0;
  height: 160px;
  width: 160px;
  margin: 10px;  
  background: white;
}

.order{
  float: right;
}